<div class="main-container">

  <div class="top-menu">
    top menu
  </div>

  <div class="main-body">

    <div class="side-menu">
      <div class="menu-item">
        <a routerLink="backOffice" routerLinkActive="active">My cabinet</a>
      </div>
      <div class="menu-item">
        <a routerLink="documents" routerLinkActive="active">Document</a>
      </div>
      <div class="menu-item">
        <a routerLink="shop" routerLinkActive="active">Shop</a>
      </div>
      <div class="menu-item">
        <a routerLink="contacts" routerLinkActive="active">Contacts</a>
      </div>
    </div>

    <div class="main-data">
      main data
      <router-outlet></router-outlet>
    </div>

  </div>
  <div class="footer">
    footer
  </div>

</div>
