<div class="main-container">

  <div class="login-container">
    <h1 class="header-text"
        [ngClass]="{'has-success' : registerForm.valid}">Регистрация</h1>

    <form ngForm="registerForm" (ngSubmit)="login()" [formGroup]="registerForm" novalidate>


      <div class="input-container"
           [ngClass]="{'has-content' : registerForm.value.firstName.length > 0}">
        <input [ngClass]="{'has-success' : registerForm.controls.firstName.valid}"
               class="login-input" type="text" id="firstName" readonly
               formControlName="firstName" (focus)="removeReadOnly($event)">
        <label for="firstName" [ngClass]="{'has-success' : registerForm.controls.firstName.valid}">
          Имя
        </label>

      </div>

      <div class="input-container"
           [ngClass]="{'has-content' : registerForm.value.lastName.length > 0}">
        <input [ngClass]="{'has-success' : registerForm.controls.lastName.valid}"
               class="login-input" type="text" id="lastName" readonly
               formControlName="lastName" (focus)="removeReadOnly($event)">
        <label for="lastName" [ngClass]="{'has-success' : registerForm.controls.lastName.valid}">
          Фамилия
        </label>

      </div>

      <div class="input-container"
           [ngClass]="{'has-content' : registerForm.value.middleName.length > 0}">
        <input [ngClass]="{'has-success' : registerForm.controls.middleName.valid}"
               class="login-input" type="text" id="patronymicName" readonly
               formControlName="middleName" (focus)="removeReadOnly($event)">
        <label for="middleName" [ngClass]="{'has-success' : registerForm.controls.middleName.valid}">
          Отчество
        </label>

      </div>

      <div class="input-container"
           [ngClass]="{'has-content' : registerForm.value.email.length > 0}">
        <input [ngClass]="{'has-success' : registerForm.controls.email.valid}"
               class="login-input" type="email" id="email" readonly
               formControlName="email" (focus)="removeReadOnly($event)">
        <label for="email" [ngClass]="{'has-success' : registerForm.controls.email.valid}">
          Email
        </label>
      </div>

      <div class="input-container"
           [ngClass]="{'has-content' : registerForm.value.password.length > 0}">
        <input [ngClass]="{'has-success' : registerForm.controls.password.valid}"
               class="login-input" type="password" id="pass" readonly
               formControlName="password" (focus)="removeReadOnly($event)">
        <label for="pass" [ngClass]="{'has-success' : registerForm.controls.password.valid}">
          Пароль
        </label>
      </div>

      <div class="input-container"
           [ngClass]="{'has-content' : registerForm.value.confirm.length > 0}">
        <input [ngClass]="{'has-success' : registerForm.controls.confirm.valid}"
               class="login-input" type="password" id="confirm" readonly
               formControlName="confirm" (focus)="removeReadOnly($event)">
        <label for="confirm" [ngClass]="{'has-success' : registerForm.controls.confirm.valid}">
          Подтвердите пароль
        </label>
      </div>

      <button [ngClass]="{'has-success' : registerForm.valid}"
              class="login-button">зарегистрироваться</button>
    </form>

    <!--<span>Already registered ?</span>-->

  </div>
</div>
